In [2]:
import pandas as pd
import numpy as np

In [3]:
#numpy is fast for 2 main reasons:
# -all items in array are same data type
# -items in array are stored in contiguous memory locations

In [4]:
# numpy has many functions that are written for numpy arrays (optimized)

In [5]:
# lets create a numpy array and a python list to compare
item_cnt = 1000000 # 1 million items
numpy_array = np.arange(0, item_cnt)
python_list = list(range(item_cnt))

In [6]:
# using the numpy specific sum function on a numpy array
%timeit np.sum(numpy_array)

738 µs ± 82.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [7]:
# using the python sum function on a python list
%timeit sum(python_list)

7.25 ms ± 50.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
# any more options?

In [8]:
# using the numpy sum function on a python list
%timeit np.sum(python_list)

49.8 ms ± 710 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [9]:
# using the python sum function on a numpy array
%timeit sum(numpy_array)

75.3 ms ± 932 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [11]:
# create a n-dimensional array
my_lst_ndarray = np.array([1, 2, 3, 4, 5])
my_tuple_ndarray = np.array((1, 2, 3, 4, 5), np.int32)

In [12]:
print(my_lst_ndarray.shape)
print(my_tuple_ndarray.shape)

(5,)
(5,)

In [13]:
print(my_lst_ndarray.dtype)
print(my_tuple_ndarray.dtype)

int64
int32

In [15]:
# remember all items in an nd array must be the same type
my_lst_ndarray2 = np.array(["1", 2, 66653, "10", 5])
print(my_lst_ndarray2.dtype)

<U5

In [16]:
my_lst_ndarray3 = np.array([1, 2, 3, "10", 5], np.int32) 
print(my_lst_ndarray3.dtype)

int32

In [17]:
my_lst_ndarray3 = np.array([1, 2, 3, "bozo", 5], np.int32)

ValueError: invalid literal for int() with base 10: 'bozo'

In [18]:
zeros_arr = np.zeros((3,4)) # Create a matrix of zeros with 3 rows and 4 columns. 
ones_arr = np.ones((10,20))  # Create a matrix of ones with 10 rows and 20 columns.
identity_arr = np.identity(50) # Create an identity matrix with 50 rows and 50 columns. 
random_arr = np.random.rand(2, 2) # Create a 2x2 array of random floats ranging from 0 to 1. 
range_arr = np.arange(0, 20, 0.5) # Create a numpy array with arguments (start, end, step_size).

In [25]:
zeros_arr
ones_arr
# print(identity_arr)
random_arr
range_arr

array([  0. ,   0.5,   1. ,   1.5,   2. ,   2.5,   3. ,   3.5,   4. ,
         4.5,   5. ,   5.5,   6. ,   6.5,   7. ,   7.5,   8. ,   8.5,
         9. ,   9.5,  10. ,  10.5,  11. ,  11.5,  12. ,  12.5,  13. ,
        13.5,  14. ,  14.5,  15. ,  15.5,  16. ,  16.5,  17. ,  17.5,
        18. ,  18.5,  19. ,  19.5])

In [26]:
np.eye(4,5)

array([[ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.]])

In [27]:
first_arr  = np.array([1, 2, 3, 4])
second_arr = np.array([5, 6, 7, 8])
first_arr + second_arr
# Each element is lined up with it's corresponding element in the other array, and the addition is then performed.

array([ 6,  8, 10, 12])

In [28]:
first_arr = np.array([[1, 2], [3, 4]]) # This is now a two-dimensional array. 
second_arr = np.array([[5, 6], [7, 8]]) # This is now a two-dimensional array. 
first_arr * second_arr
# Each element is lined up with it's corresponding element in the other array, and the multiplication is then performed.

array([[ 5, 12],
       [21, 32]])

In [29]:
rows = first_arr.shape[0]
rows

2

In [30]:
first_arr.shape

(2, 2)

In [31]:
first_arr = np.array([[1, 2], [3, 4]]) # This is now a two-dimensional array.

In [32]:
first_arr - 4

array([[-3, -2],
       [-1,  0]])

In [33]:
first_arr * 5

array([[ 5, 10],
       [15, 20]])

In [34]:
first_arr % 3

array([[1, 2],
       [0, 1]])

In [35]:
first_arr = np.array([[1, 2], [3, 4]]) # This is now a two-dimensional array.

In [36]:
first_arr - [4, 5]
# Here, we subtract 4 off the first **column** and 5 off the second **column**.

array([[-3, -3],
       [-1, -1]])

In [37]:
first_arr - [[4], [5]] # Here, we subtract 4 from the first **row** and 5 from the second **row**.

array([[-3, -2],
       [-2, -1]])

In [38]:
# Reshape will reshape the data to the shape that you tell it to (here 5 rows, 4 columns). 
range_arr = np.arange(0, 20, 1)
print(range_arr)
range_arr = range_arr.reshape(5,4)
print(range_arr)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]]

In [39]:
range_arr[:, 2] # Grab every row, but only the element at index 2 in those rows.

array([ 2,  6, 10, 14, 18])

In [40]:
range_arr[0:2] # With no second index, this defaults to taking the rows.

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [41]:
# The first set of numbers refers to the rows to grab, the second set the columns.  
range_arr[0:2, 1:3]

array([[1, 2],
       [5, 6]])

In [42]:
range_arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [43]:
range_arr.sum(axis=1) # Sum each row (i.e. get row totals)

array([ 6, 22, 38, 54, 70])

In [44]:
range_arr.sum(axis=0) # Sum each column (i.e. get col totals)

array([40, 45, 50, 55])

In [45]:
range_arr.sum() # Get sum of all elements in numpy array.

190

In [46]:
range_arr.mean(axis=0)

array([  8.,   9.,  10.,  11.])

In [47]:
range_arr.std(axis=0)

array([ 5.65685425,  5.65685425,  5.65685425,  5.65685425])

In [48]:
range_arr.max(axis=0)

array([16, 17, 18, 19])

In [49]:
range_arr[1,3]=155
# range_arr[0][2]=15
range_arr

array([[  0,   1,   2,   3],
       [  4,   5,   6, 155],
       [  8,   9,  10,  11],
       [ 12,  13,  14,  15],
       [ 16,  17,  18,  19]])

In [50]:
range_arr.argmin() # We see that the mins of each column occur at row 1 (index 0).

0

In [51]:
range_arr.argmax(axis=0) # We see that the maxes of each column occur at row 5 (index 4).

array([4, 4, 4, 1])

In [52]:
range_arr.argmin() # Here we get the index of the overall minimum (the 0th index).

0

In [53]:
range_arr

array([[  0,   1,   2,   3],
       [  4,   5,   6, 155],
       [  8,   9,  10,  11],
       [ 12,  13,  14,  15],
       [ 16,  17,  18,  19]])

In [54]:
range_arr.argmax() # Here we get the index of the overall maximum (the last index in second row).

7

In [55]:
range_arr

array([[  0,   1,   2,   3],
       [  4,   5,   6, 155],
       [  8,   9,  10,  11],
       [ 12,  13,  14,  15],
       [ 16,  17,  18,  19]])

In [56]:
range_arr.cumsum(axis=0)  # Here it gets the cumsum along the rows (i.e. from top to bottom)

array([[  0,   1,   2,   3],
       [  4,   6,   8, 158],
       [ 12,  15,  18, 169],
       [ 24,  28,  32, 184],
       [ 40,  45,  50, 203]])

In [57]:
range_arr

array([[  0,   1,   2,   3],
       [  4,   5,   6, 155],
       [  8,   9,  10,  11],
       [ 12,  13,  14,  15],
       [ 16,  17,  18,  19]])

In [58]:
range_arr.cumprod(axis=0) # Gets the cumprod along the rows

array([[      0,       1,       2,       3],
       [      0,       5,      12,     465],
       [      0,      45,     120,    5115],
       [      0,     585,    1680,   76725],
       [      0,    9945,   30240, 1457775]])

In [59]:
range_arr

array([[  0,   1,   2,   3],
       [  4,   5,   6, 155],
       [  8,   9,  10,  11],
       [ 12,  13,  14,  15],
       [ 16,  17,  18,  19]])

In [61]:
# We can flatten our arrays as follows. 
range_arr.flatten()
range_arr.ravel()  # They look the same in this case.

array([  0,   1,   2,   3,   4,   5,   6, 155,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19])

In [ ]:
range_arr

In [62]:
my_ndarray = np.array([2, 4, 6, 8, 24, 3, 8, 9, 12])

In [64]:
my_ndarray

array([ 2,  4,  6,  8, 24,  3,  8,  9, 12])

In [63]:
print(np.where(my_ndarray <= 2)) # Returns the indices where the data meet the condition. 
print(np.where(my_ndarray == 8)) # Returns the indices where the data meet the condition. 
print(np.where(my_ndarray > 6)) # Returns the indices where the data meet the condition.

(array([0]),)
(array([3, 6]),)
(array([3, 4, 6, 7, 8]),)

In [65]:
# boolean indexing
my_ndarray[my_ndarray > 6]

array([ 8, 24,  8,  9, 12])

In [66]:
my_ndarray > 6

array([False, False, False,  True,  True, False,  True,  True,  True], dtype=bool)

In [67]:
import pandas as pd
wine_df = pd.read_csv('winequality-red.csv', delimiter=';')
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [68]:
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [69]:
# A glance at the values of the quality of wine in the DataFrame
wine_df.quality.unique()

array([5, 6, 7, 4, 8, 3])

In [70]:
# get_dummies is a method called on the pandas module - you simply pass in a Pandas Series 
# or DataFrame, and it will convert a categorical variable into dummy/indicator variables. 
quality_dummies = pd.get_dummies(wine_df.quality, prefix='quality')
quality_dummies.head()

   quality_3  quality_4  quality_5  quality_6  quality_7  quality_8
0          0          0          1          0          0          0
1          0          0          1          0          0          0
2          0          0          1          0          0          0
3          0          0          0          1          0          0
4          0          0          1          0          0          0

In [71]:
joined_df = wine_df.join(quality_dummies)
joined_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,0,1,0,0,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0,0,1,0,0,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0,0,1,0,0,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0,0,0,1,0,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0,0,1,0,0,0

In [72]:
# Let's now look at concat. 
joined_df2 = pd.concat([quality_dummies, wine_df], axis=1)
joined_df2.head()

,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0,0,1,0,0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,0,0,1,0,0,0,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,0,0,1,0,0,0,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,0,0,0,1,0,0,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,0,0,1,0,0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [73]:
red_wines_df = pd.read_csv('winequality-red.csv', delimiter=';')
white_wines_df = pd.read_csv('winequality-white.csv', delimiter=';')

In [74]:
red_wines_df.columns.tolist()

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In [75]:
white_wines_df.columns.tolist()

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In [76]:
red_wines_quality_df = red_wines_df.groupby('quality').mean()['fixed acidity'].reset_index()
red_wines_quality_df.head()

   quality  fixed acidity
0        3       8.360000
1        4       7.779245
2        5       8.167254
3        6       8.347179
4        7       8.872362

In [77]:
white_wines_quality_df = white_wines_df.groupby('quality').mean()['fixed acidity'].reset_index()
white_wines_quality_df.head()

   quality  fixed acidity
0        3       7.600000
1        4       7.129448
2        5       6.933974
3        6       6.837671
4        7       6.734716

In [78]:
df2= pd.merge(red_wines_df, white_wines_df, on=['quality'], suffixes=[' red', ' white'])

In [79]:
df2

,fixed acidity red,volatile acidity red,citric acid red,residual sugar red,chlorides red,free sulfur dioxide red,total sulfur dioxide red,density red,pH red,sulphates red,...,volatile acidity white,citric acid white,residual sugar white,chlorides white,free sulfur dioxide white,total sulfur dioxide white,density white,pH white,sulphates white,alcohol white
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.270,0.41,1.45,0.033,11.0,63.0,0.99080,2.99,0.56,12.0
1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.230,0.40,4.20,0.035,17.0,109.0,0.99470,3.14,0.53,9.7
2,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.180,0.37,1.20,0.040,16.0,75.0,0.99200,3.18,0.63,10.8
3,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.420,0.62,19.25,0.040,41.0,172.0,1.00020,2.98,0.67,9.7
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.310,0.14,7.50,0.044,34.0,133.0,0.99550,3.22,0.50,9.5
5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.670,0.14,1.50,0.074,25.0,168.0,0.99370,3.05,0.51,9.3
6,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.270,0.20,14.95,0.044,22.0,179.0,0.99620,3.37,0.37,10.2
7,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.280,0.43,1.70,0.080,21.0,123.0,0.99050,3.19,0.42,12.8
8,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.390,0.23,5.40,0.051,25.0,149.0,0.99340,3.24,0.35,10.0
9,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.240,0.39,17.95,0.057,45.0,149.0,0.99990,3.21,0.36,8.6
10,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.240,0.39,17.95,0.057,45.0,149.0,0.99990,3.21,0.36,8.6
11,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.460,0.25,4.40,0.066,62.0,207.0,0.99390,3.25,0.52,9.8
12,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.190,0.35,5.00,0.067,32.0,150.0,0.99500,3.36,0.48,9.8
13,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.470,0.07,1.10,0.035,17.0,151.0,0.99100,3.02,0.34,10.5
14,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.350,0.03,1.20,0.064,29.0,120.0,0.99340,3.22,0.54,9.1
15,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.250,0.13,1.20,0.041,81.0,174.0,0.99200,3.14,0.42,9.8
16,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.240,0.29,10.10,0.050,21.0,105.0,0.99620,3.13,0.35,9.5
17,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.300,0.23,4.60,0.061,50.5,238.5,0.99580,3.32,0.60,9.5
18,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.270,0.28,4.80,0.063,31.0,201.0,0.99640,3.69,0.71,10.0
19,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.240,0.29,10.10,0.050,21.0,105.0,0.99620,3.13,0.35,9.5
20,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.180,0.30,8.80,0.064,26.0,103.0,0.99610,2.94,0.56,9.3
21,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.540,0.28,5.40,0.060,21.0,105.0,0.99490,3.27,0.37,9.0
22,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.340,0.20,6.10,0.063,47.0,164.0,0.99460,3.17,0.42,10.0
23,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.430,0.61,11.80,0.045,54.0,155.0,0.99740,3.11,0.45,8.7
24,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.430,0.61,11.80,0.045,54.0,155.0,0.99740,3.11,0.45,8.7
25,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.270,0.43,7.50,0.049,65.0,243.0,0.99570,3.12,0.47,9.0
26,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.250,0.37,13.50,0.060,52.0,192.0,0.99750,3.00,0.44,9.1
27,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.120,0.32,9.60,0.054,64.0,162.0,0.99620,3.40,0.41,9.4
28,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.210,0.24,12.10,0.050,55.0,164.0,0.99700,3.34,0.39,9.4
29,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,...,0.305,0.40,18.90,0.059,44.0,170.0,1.00000,2.99,0.46,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2581620,7.1,0.875,0.05,5.7,0.082,3.0,14.0,0.99808,3.40,0.52,...,0.250,0.26,1.55,0.041,118.5,216.0,0.99490,3.55,0.63,9.4
2581621,7.1,0.875,0.05,5.7,0.082,3.0,14.0,0.99808,3.40,0.52,...,0.490,0.22,2.00,0.047,146.5,307.5,0.99240,3.24,0.37,11.0
2581622,7.1,0.875,0.05,5.7,0.082,3.0,14.0,0.99808,3.40,0.52,...,0.230,0.38,11.10,0.034,15.0,123.0,0.99970,2.93,0.55,9.7
2581623,7.1,0.875,0.05,5.7,0.082,3.0,14.0,0.99808,3.40,0.52,...,0.480,0.37,1.20,0.034,5.0,57.0,0.99256,3.05,0.54,10.4
2581624,7.1,0.875,0.05,5.7,0.082,3.0,14.0,0.99808,3.40,0.52,...,0.200,0.34,9.50,0.041,38.0,201.0,0.99500,3.14,0.44,10.1
2581625,7.1,0.875,0.05,5.7,0.082,3.0,14.0,0.99808,3.40,0.52,...,0.215,0.23,5.10,0.041,64.0,157.0,0.99688,3.42,0.44,8.0
2581626,7.1,0.875,0.05,5.7,0.082,3.0,14.0,0.99808,3.40,0.52,...,0.240,0.29,8.50,0.037,124.0,208.0,0.99395,2.90,0.38,11.0
2581627,7.1,0.875,0.05,5.7,0.082,3.0,14.0,0.99808,3.40,0.52,...,0.230,0.35,0.70,0.051,24.0,111.0,0.99160,3.37,0.43,11.0
2581628,7.1,0.875,0.05,5.7,0.082,3.0,14.0,0.99808,3.40,0.52,...,0.260,0.34,15.10,0.060,42.0,162.0,0.99705,3.24,0.52,10.5
2581629,7.1,0.875,0.05,5.7,0.082,3.0,14.0,0.99808,3.40,0.52,...,0.260,0.25,2.90,0.047,289.0,440.0,0.99314,3.44,0.64,10.5
2581630,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.260,0.21,16.20,0.074,41.0,197.0,0.99800,3.02,0.50,9.8
2581631,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.240,0.44,3.50,0.029,5.0,109.0,0.99130,3.53,0.43,11.7
2581632,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.590,0.38,1.60,0.066,34.0,182.0,0.99680,3.23,0.38,8.5
2581633,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.320,0.32,11.00,0.038,16.0,66.0,0.99370,3.24,0.40,11.5
2581634,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.390,0.40,4.60,0.022,5.0,19.0,0.99150,3.31,0.37,12.6
2581635,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.170,0.47,1.40,0.037,5.0,33.0,0.99390,2.89,0.28,9.6
2581636,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.640,0.46,10.60,0.244,33.0,227.0,0.99830,2.87,0.74,9.1
2581637,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.330,0.42,1.15,0.033,18.0,96.0,0.99110,3.20,0.32,12.4
2581638,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.550,0.35,15.55,0.057,35.5,366.5,1.00010,3.04,0.63,11.0
2581639,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.320,0.24,4.60,0.053,8.0,134.0,0.99580,3.14,0.50,9.1
2581640,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.250,0.26,1.55,0.041,118.5,216.0,0.99490,3.55,0.63,9.4
2581641,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.490,0.22,2.00,0.047,146.5,307.5,0.99240,3.24,0.37,11.0
2581642,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.230,0.38,11.10,0.034,15.0,123.0,0.99970,2.93,0.55,9.7
2581643,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.480,0.37,1.20,0.034,5.0,57.0,0.99256,3.05,0.54,10.4
2581644,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.200,0.34,9.50,0.041,38.0,201.0,0.99500,3.14,0.44,10.1
2581645,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.215,0.23,5.10,0.041,64.0,157.0,0.99688,3.42,0.44,8.0
2581646,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.240,0.29,8.50,0.037,124.0,208.0,0.99395,2.90,0.38,11.0
2581647,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.230,0.35,0.70,0.051,24.0,111.0,0.99160,3.37,0.43,11.0
2581648,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.260,0.34,15.10,0.060,42.0,162.0,0.99705,3.24,0.52,10.5
2581649,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,...,0.260,0.25,2.90,0.047,289.0,440.0,0.99314,3.44,0.64,10.5

In [80]:
# Let's recall what the data looks like. 
red_wines_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [81]:
pd.cut(red_wines_df['fixed acidity'], bins=np.arange(4, 17)).head()

0      (7, 8]
1      (7, 8]
2      (7, 8]
3    (11, 12]
4      (7, 8]
Name: fixed acidity, dtype: category
Categories (12, interval[int64]): [(4, 5] < (5, 6] < (6, 7] < (7, 8] ... (12, 13] < (13, 14] < (14, 15] < (15, 16]]

In [82]:
fixed_acidity_bins = np.arange(4, 17)
fixed_acidity_series = pd.cut(red_wines_df['fixed acidity'], bins=fixed_acidity_bins, 
                              labels=fixed_acidity_bins[:-1])
fixed_acidity_series.name = 'fa_bin'
red_wines_df = pd.concat([red_wines_df, fixed_acidity_series], axis=1)

In [83]:
red_wines_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fa_bin
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,7
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,7
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,7
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,11
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,7

In [84]:
pd.pivot_table(red_wines_df, values='residual sugar', index='quality', columns='fa_bin')

fa_bin,4,5,6,7,8,9,10,11,12,13,14,15
quality,,,,,,,,,,,,
3,NaN,NaN,1.500000,3.537500,3.400000,NaN,1.800000,2.200000,NaN,NaN,NaN,NaN
4,1.75,5.300000,2.714286,2.453846,2.583333,2.433333,2.566667,1.500000,4.500000,NaN,NaN,NaN
5,1.60,1.850000,2.492623,2.441331,2.496786,2.675000,3.238889,2.770000,2.393333,3.133333,NaN,5.025
6,2.35,2.886538,2.556767,2.167027,2.281731,2.801562,2.910345,2.524359,2.912500,2.850000,1.8,NaN
7,2.10,1.900000,2.595000,2.655000,2.796429,2.862500,2.718000,2.638889,4.150000,2.800000,2.2,3.700
8,2.00,1.600000,NaN,2.316667,1.800000,2.166667,3.866667,5.200000,2.200000,NaN,NaN,NaN

In [85]:
# We can also specify a function to aggregate with
pd.pivot_table(red_wines_df, values='residual sugar', index='quality', columns='fa_bin', aggfunc=np.max)

fa_bin    4     5     6    7    8     9      10    11   12   13   14   15
quality
3        NaN   NaN   1.8  5.7  3.4   NaN   2.10  2.20  NaN  NaN  NaN  NaN
4        2.1  12.9   5.6  4.4  6.3   3.4   3.40  1.60  4.5  NaN  NaN  NaN
5        1.6   2.5   7.9  8.1  7.9  13.8  15.50  5.15  4.6  4.8  NaN  7.5
6        4.3  13.9  10.7  5.5  5.1  11.0  15.40  6.20  4.3  3.8  1.8  NaN
7        2.1   2.2   6.0  8.3  6.2   8.9   6.55  4.40  5.8  2.8  2.2  3.7
8        2.0   1.8   NaN  3.6  1.8   2.8   6.40  5.20  2.2  NaN  NaN  NaN

In [ ]:
df.tail(10)

In [ ]:
# Further filter the results from 6 to grab only those rows that have a residual sugar less than 2.0.

In [ ]:
# Get the average amount of chlorides for each quality value.

In [ ]:
reverse_words

In [ ]:
"This is my first sentence."

In [ ]:
"sihT si ym tsrif .ecnetnes"

In [89]:
a = "agdgdfgdgdgdgdgd sd ds sd fsfc"
o=""
length = len(a)
x=length-1

In [90]:
while x>-1:
    o+=a[x]
    #get closer to exiting loop
    x-=1

In [91]:
o

'cfsf ds sd ds dgdgdgdgdgfdgdga'

In [109]:
def reverse_words(sent):
    low = sent.split(' ')
    
    out_lst=[]
    for word in low:
#         x = len(word)-1
#         o=""
#         while x>-1:
# #             print(word[x])
#             o+=word[x]
#             x-=1
#             print(out_lst)
#         print(o)
        out_lst.append(word[::-1])
#     print(out_lst)
    return " ".join(out_lst)

In [114]:
def reverse_words(sent):
    return " ".join([word[::-1] for word in sent.split()])

In [115]:
reverse_words("abc 123     hello")

'cba 321 olleh'

In [116]:
def digital_root(num):
    
#     loop until we have a single digit number (<10)
    while num>=10:
        tmp_sum=0
        num_str=str(num)
        for n in num_str:
            tmp_sum+=int(n)
        num = tmp_sum
    return num
        #reduce number

In [125]:
digital_root(9991)

1

In [ ]:
https://www.codewars.com/kata/sum-of-digits-slash-digital-root